@import '../../../css/main.less';

before{
   display: none;
}
// @color2: #7ec289;
// @color2: #5bb667;
// @color: #ff77da;
@color: black;
@color2: black;
@size: 50pt;
@size2: @size / 3.2; //3
@line: @size *.8;
@line2: @size2 *1.145;//1.145

#title{
   font-size: @size;
   line-height: @line;
   text-transform: uppercase;
   font-family: 'Pen1';
   color: @color2;
   margin-top: -15pt;
   text-align: center;
   // transform: scale(2,1);
}

#artist{
   text-transform: uppercase;
   text-align: right;
   font-size: @size2;
   line-height: @line;
   color: @color;
   margin-top: 0pt;
   font-family: 'class';
}
#pratique{
   // display: none;
   text-transform: uppercase;
   text-align: left;
   font-size: @size2;
   line-height: @line;
   color: @color;
   margin-top: -5pt;
   font-family: 'class';
   // background: white;
  u{
    // text-transform: uppercase;
    padding-bottom: 1pt;
    padding-top: -1pt;
    text-decoration: none;
  }
  u.a{
    border: 1pt solid @color;
  }
  u.lr{
    border-left: 1pt solid @color;
    border-right: 1pt solid @color;
  }
  u.tlr{
    border-top: 1pt solid @color;
    border-left: 1pt solid @color;
    border-right: 1pt solid @color;
  }
  u.blr{
    border-bottom: 1pt solid @color;
    border-left: 1pt solid @color;
    border-right: 1pt solid @color;
  }
   
}


#flow-main #pratique{
    -webkit-flow-into: flow-pratique;
            flow-into: flow-pratique;
}

.pratique {
   // outline: (@size2/10 ) solid @color;
    -webkit-flow-from: flow-pratique;
            flow-from: flow-pratique;
}

#flow-main #title{
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title {
    -webkit-flow-from: flow-title;
            flow-from: flow-title;
}
#flow-main #artist{
    -webkit-flow-into: flow-artist;
            flow-into: flow-artist;
}

.flow-artist{
    -webkit-flow-from: flow-artist;
            flow-from: flow-artist;
}
#flow-main #texte{
    -webkit-flow-into: flow-texte;
            flow-into: flow-texte;
}

.flow-texte{
    -webkit-flow-from: flow-texte;
            flow-from: flow-texte;
}
#flow-main #credit{
    -webkit-flow-into: flow-credit;
            flow-into: flow-credit;
}

.flow-credit{
    -webkit-flow-from: flow-credit;
            flow-from: flow-credit;
}

.photo img{
   display: none;
   width: 85%;
   objet-fit: cover;
   // margin-left: -40pt;
}

h1{
   // text-align: center;
}

.flow-artist{

}
h2{
   font-size: @size;
   line-height: @line;
   // text-align: center;
}
#texte{
  margin-top: -0.6mm;
   font-family: 'class';
   font-size: 8pt;
   line-height: 8.5pt;
   color: @color2;
   u{
     text-decoration: uderline;
   }
   #en {
     p:nth-of-type(1){
       b{
	 // font-family: 'Pen1';
	 // font-size: 12.3744pt;
	 text-transform: uppercase;
       
       }
     }
     p{
       width: 90mm;
     }
     p:last-of-type{
      font-family: 'f6';
       font-size: 6pt;

       width: 30mm;
     }
     // column-count: 2;
      // border-bottom: 1pt solid @color;
      // border-left: 1pt solid @color;
      // border-right: 1pt solid @color;
   }
   #fr {
     p:nth-of-type(1){
       // outline: 1px solid red;
       b{
	 text-transform: uppercase;
       
       }
     }
     float: left;
     width: 94mm;
     margin-top: -82.6mm;
     margin-left: 31.5mm;
     padding: 11pt;
     p:last-of-type{
      font-family: 'f6';
       font-size: 6pt;
       // outline: 1px solid red;
       width: 37mm;
       // margin-top: -8.6pt;
       margin-left: 60.5mm;
     }
   }
   #nl{
     padding-top: 11pt;
     margin-top: -30.2mm;
     position: absolute;
     p:nth-of-type(3), p:nth-of-type(4){
       width: 93mm;
     }
     p:nth-of-type(1){
       b{
	 text-transform: uppercase;
       
       }
     }
     p:nth-of-type(1), p:nth-of-type(2){
       margin-left: 31.8mm;
       width: 62mm;
     }
     p:last-of-type{
      font-family: 'f6';
       font-size: 6pt;
       width: 81mm;
       margin-left: 12.5mm;
     }
     // p:last-of-type{
     //   width: 30mm;
     //   color: red;
     // }
   
   }
   span{
     color: white;
      background: @color2;
      // padding: 0pt 1pt;
      // outline: 0.1pt solid  @color;
   }
   // sup{
   //    font-size: @size2 / 3;
   //    bottom: 3pt;
   //    position: relative;
   // }
}

#credit{
  text-align: center;
   font-size: 6pt;
   color: @color2;
   font-family: 'class';
   width: 40mm;
   transform: rotate(-90deg);
}


