
@font-face {
    font-family: 'Pen1';
    src: url('/fonts/Ocr-Pbi-Pen1.ttf');
}
@font-face {
    font-family: 'Manus1';
    src: url('/fonts/Ocr-Pbi-manus1.ttf');
}
@font-face {
    font-family: 'Freak1';
    src: url('/fonts/Ocr-Pbi-freak1.ttf');
}
