<header>
    <p class="rubric-title">Le nom­bril de Médor</p>
    <h1 class="headline">Le chamane et le sociocrate</h1>
    <p class="header-byline">Médor</p>
</header>
<p class="lead"> Chapeau</p>

<!--PARAGRAPH-->
<p> </p>

<!--NOTES DE BAS DE PAGE-->
<ol class="footnotes">
    <li><a name="" href="">1</a>Footnotes 1</li>
</ol>

<!--IMAGES + LEGENDES + LICENCE-->
<figure>
    <img alt="" src="..." />
    <figcaption>
        <p>Légende</p>
        <footer>Author <small>License</small>
        </footer>
    </figcaption>
</figure>
