    <header>
        <p class="rubric-title">Titre le la rubrique</p>
        <p class="rubric-subtitle">sous-titre le la rubrique</p>
        <h1 class="headline">Titre</h1>

        <p class="lead">chapo</p>
    </header>

    <h2>Intertitre</h2>
    <p>paragraph</p>

<!--PULL-OUT-->
    <aside class="pull-out">
        <p> </p>
    </aside>
<!--PARAGRAPH-->
    <p>paragraph</p>

<!--AUTEUR-->
    <footer >
      <p class="footer-byline">nom auteur <sup>licence</sup></p>
      <p class="endnote">Infos additionelles sur l'auteur.</p>
    </footer>

<!--NOTES DE BAS DE PAGE-->
    <ol class="footnotes">
        <li><a name="sdfootnote1sym" href="#sdfootnote1anc">1</a>Footnotes 1</li>
    </ol>

<!--IMAGES + LEGENDES + LICENCE-->
    <figure>
        <img alt="" src="..." />
        <figcaption>
            <p>Légende</p>
            <footer>Author <small>License</small>
            </footer>
        </figcaption>
    </figure>
