<header>
    <p class="rubric-title">Éditorial</p>
    <h1>Titre</h1>
</header>

<!--PARAGRAPH-->
<p></p>
<p></p>

<!--NOTES DE BAS DE PAGE-->
<ol class="footnotes">
    <li><a name="sdfootnote1sym" href="#sdfootnote1anc">1</a>Footnotes 1</li>
    <li><a name="sdfootnote2sym" href="#sdfootnote2anc">2</a>Footnotes 2</li>
</ol>
