<header>
    <p class="rubric-title">Photo</p>
    <h1 class="headline">Folie libre</h1>
    <p class="header-byline">Nom du photographe</p>

<p class="lead"> Chapeau</p>
</header>

<!--PARAGRAPH-->
<p>paragraphe</p>
<p class="fin"> paragraphe</p>

<!--PULL-OUT-->
<aside class="pull-out">
    <blockquote>
        <h2> Titre</h2>
        <p>Sitation</p>
        <footer>Nom de l'auteur de la sitation</footer>
    </blockquote>
</aside>

<!--AUTEUR-->
<footer >
  <p class="footer-byline">nom auteur <sup>licence</sup></p>
<p class="endnote">Infos additionelles sur l'auteur.</p>
</footer>

<!--NOTES DE BAS DE PAGE-->
<ol class="footnotes">
    <li>
        <p><a href="">1</a> Notes de bas de page </p>
    </li>
</ol>

<!--ENCADRE-->
<aside class="encadre">
    <p><strong>Mise en valeur</strong> Texte</p>
</aside>

<!--IMAGES-->
<figure><img src="" alt="">
    <figcaption>
      <p>Description de l'image 1 </p>
    </figcaption>
</figure>
