<header>
    <p class="rubric-title">Mo­ment flamand</p>
    <p class="rubric-subtitle">Le meilleur de la presse du Nord</p>
    <h1 class="headline"> Titre</h1>
    <p class="header-byline"> Nom auteur</p>

    <p class="lead"> Chapeau</p>
</header>

<!--PARAGRAPH-->
<p></p>
<h2>Titre 2</h2>

<!--PULL-OUT-->
<aside class="pull-out">
    <blockquote>
        <p> texte </p>
    </blockquote>
</aside>

<!--QUESTION-->
<p class="question">Question?</p>

<!--ENCADRE-->
<aside class="encadre">
    <p> texte</p>
</aside>

<!--AUTEUR-->
<footer>
  <p class="footer-byline">nom auteur <sup>licence</sup></p>
    <p class="endnote">Infos additionelles sur l'auteur.</p>
</footer>

<!--NOTES DE BAS DE PAGE-->
<ol class="footnotes">
    <li><a title="" name="" href="">1</a>
        <p> texte</p>
    </li>

<!--IMAGES + LEGENDES + LICENCE-->
    <figure>
        <img alt="" src="..." />
        <figcaption>
            <p>Légende</p>
            <footer>Author <small>License</small>
            </footer>
        </figcaption>
