<header>
    <p class="rubric-title">Portrait</p>
    <h1 class="headline">Titre</h1>
    <h2 class="subhead">Sous-titre</h2>
    <p class="header-byline">Par Noms
        <br>Pho­tos : Noms</p>

    <p class="lead"> Chapeau</p>
</header>

<!--PARAGRAPH-->
<h2></h2>
<p></p>
<p class="fin"></p>

<!--PULL-OUT-->
<aside class="pull-out">
    <blockquote> </blockquote>
</aside>

<!--AUTEUR-->
<footer >
  <p class="footer-byline">nom auteur <sup>licence</sup></p>
    <p class="endnote">Infos additionelles sur l'auteur.</p>
</footer>

<!--NOTES DE BAS DE PAGE-->
<ol class="footnotes">
    <li><a name="sdfootnote1sym" href="#sdfootnote1anc">1</a>Footnotes 1</li>
</ol>

<!--IMAGES + LEGENDES + LICENCE-->
<figure><img src="" alt="">
    <figcaption>
        <footer>Illustrations Licence</footer>
    </figcaption>
</figure>
