<header>
    <p class="rubric-title">Récit/enquete</p>
    <h1 class="headline"> titre </h1>
    <h2 class="subhead"> sous titre</h2>
    <p class="header-byline">Par </p>

<p class="lead"></p>
</header>

<!--PARAGRAPH-->
<p> </p>
<h2></h2>

<!--PULL-OUT-->
<aside class="pull-out">
    <blockquote>
        <p></p>
    </blockquote>
</aside>

<!--ENCADRE-->
<aside class="sidebar">
    <h1></h1>
    <p>
</aside>

<!--AUTEUR-->
<footer >
  <p class="footer-byline">nom auteur <sup>licence</sup></p>
    </p>
    <p class="endnote">Infos additionelles sur l'auteur.</p>
</footer>

<!--NOTES DE BAS DE PAGE-->
<ol class="footnotes">
    <li><a name="" href="">1</a>Footnotes 1</li>
</ol>

<!--IMAGES + LEGENDES + LICENCE-->
<figure>
    <img alt="" src="..." />
    <figcaption>
        <p>Légende</p>
        <footer>Author <small>License</small>
        </footer>
    </figcaption>
</figure>
