<header>
    <p class="rubric-title">Mo­ment flamand</p>
    <p class="rubric-subtitle">sous-titre la rubrique </p>
    <h1 class="headline">Titre</h1>
    <p class="header-byline">Par </p>
</header>

<p class="lead">chapeau</p>
</header>

<p></p>
<h2></h2>

<aside class="pull-out">
    <blockquote>
        <p> </p>
    </blockquote>
</aside>

<p class="hard-lead"> petit chapeau </p>
<p class="question">question</p>

<aside id="caracteristiques" class="encadre">
    <h2> titre 2</h2>
    <h3>titre 3</h3>

    <dl> <dt></dt>
        <dd></dd>
    </dl>
</aside>
<p class="footer-byline">nom auteur <sup>licence</sup></p>


    <ol class="footnotes">
        <li><a title="" name="" href="">1</a>
            <p></p>
    </ol>

    <figure><img src="" alt="">
        <figcaption>
            <p>Légende</p>
        </figcaption>
    </figure>
