/* the geometry of the page */
@page-height:143mm;
@page-width:200mm;

/* the size of the crop marks*/
@crop-size: 5mm;

/* the size of bleed */
@bleed: 5mm;

// FIXME: make a case for single page layouts
@page-margin-inside: 15pt;
@page-margin-outside: 15pt;
@page-margin-top: 15pt;
@page-margin-bottom: 15pt;

// Header & footer variables
@header-height: 0mm;
@header-text: "";
@footer-height: 10mm;
@footer-text: counter(page-counter);


