
@font-face {
    font-family: 'Pen1';
    src: url('/fonts/Ocr-Pbi-hovelbot.ttf');
}
@font-face {
    font-family: 'f2';
    src: url('/fonts/Ocr-Pbi-freak1.ttf');
}
@font-face {
    font-family: 'class';
    src: url('/fonts/Ocr-Pbi-Pen1.ttf');
}
@font-face {
    font-family: 'f5';
    src: url('/fonts/Ocr-Pbi-hovelbot-5pt.ttf');
}
@font-face {
    font-family: 'f6';
    src: url('/fonts/Ocr-Pbi-hovelbot-6pt.ttf');
}

