@import "../../../css/main.less";
@color2: black;
@colorarch: #f665cc;
@color1 :black;
@size1: 25pt;
@line:35pt;
//@color2 :#f863c9;

.font1(@style){
    font-family:'Manifont';
    font-style:@style;
}
em{
    .font1(italic);
}
#flow-main h1 {
    -webkit-flow-into: flow-titre;
        flow-into: flow-titre;
}
.flow-titre {
    -webkit-flow-from: flow-titre;
        flow-from: flow-titre;
	//transform: skewX(15deg) skewY(15deg);
	h1{
	    margin-left:-12pt;
	    font-size:@size1 !important;
	}
	margin-top:0pt;
	margin-left:0pt;
	line-height:@line;
	color:@color2;
	text-transform:uppercase;
	text-align:center;
	border-bottom: 2.5pt solid @color2;
	border-right: 2.5pt solid @color2;
}

#flow-main h2 {
    -webkit-flow-into: flow-artists;
        flow-into: flow-artists;
}

.flow-artists {
    -webkit-flow-from: flow-artists;
        flow-from: flow-artists;
	    //margin-top:32pt;
}

u{
    padding-left:3pt;
    border-left:2pt solid @color2;
	
}
#flow-main h4{
    -webkit-flow-into: flow-lieu;
        flow-into: flow-lieu;
}
.flow-lieu{
    -webkit-flow-from: flow-lieu;
        flow-from: flow-lieu;
}

#flow-main .soutien{
    -webkit-flow-into: flow-soutien;
        flow-into: flow-soutien;
}
.flow-soutien{
    -webkit-flow-from: flow-soutien;
        flow-from: flow-soutien;
	color:@color2;
	p{
	    font-size:9pt !important;
	}
}

#flow-main .logo{
    -webkit-flow-into: flow-logo;
        flow-into: flow-logo;
}
.flow-logo{
    -webkit-flow-from: flow-logo;
        flow-from: flow-logo;
}

#flow-main .text {
    -webkit-flow-into: flow-text;
        flow-into: flow-text;
}

.flow-text {
    -webkit-flow-from: flow-text;
        flow-from: flow-text;
}

.text{
    font-size:9pt !important;
    color:@color2;
    .Lang-Fr{
	margin-left:30pt;
	margin-right:-30pt;
    }	
    .Lang-En{
	margin-left:0pt;
	margin-right:0pt;
    }	
    .Lang-Nl{
	margin-left:-15pt;
	margin-right:15pt;
    }	
}

#flow-main footer{
    -webkit-flow-into: flow-footer;
            flow-into: flow-footer;
	    font-size:9pt;
}

.flow-footer{
    -webkit-flow-from: flow-footer;
            flow-from: flow-footer;
	color:@color2;
	p{
	    font-size:9pt !important;
	}
}
#flow-main h3{
    -webkit-flow-into: flow-dates;
            flow-into: flow-dates;
}
.flow-dates{
    -webkit-flow-from: flow-dates;
            flow-from: flow-dates;
}
#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main {
    -webkit-flow-from: flow-main;
        flow-from: flow-main;
}

h1, h2, h3, h4, p {
    margin:0pt;
    font-weight:normal;
}

.fond{
  //background-image:url('../img/fond3.png');
   background-size: contain;
    background-repeat: no-repeat;
    background-size: auto 100%; 
       object-fit: cover;
}

.flow-artists, .flow-dates, .flow-lieu {
	color:@color2;
	.font1(normal);
	h2, h3, h4{
	//line-height:17pt;
	line-height:@line;
	margin-top:0pt;
	
	
	font-size:@size1 !important;
	//font-size:13.5pt !important;
	}
	.pers{
	margin-top:0pt;
	margin-right:-10pt;
	//font-family:"manifontbold";
	}
}

body {
font-variant-ligatures: normal;
}

.vignette{
    font-size:8pt;
    position:absolute;
    padding:1pt;
    left:-50pt;
    margin-top:0pt;
    //display:inline-block;
    border-bottom:1px solid @color2
}
p:nth-of-type(2)::first-line {
    //margin-left:20pt; 
}
.Lang-En::before {
    content: 'En';
    .vignette;

}
.Lang-Fr::before {;
    content: 'Fr';
    .vignette;
}
.Lang-Nl::before {;
    content: 'Nl';
    .vignette;
}
.flow-dates{
    h3:nth-of-type(2){
	//color:green;
    margin-top:8pt !important;
    }
}
.flow-lieu {
    margin-right:-10pt;
    margin-top:30pt !important;
}

body{
    .font1(normal);
}

img{
    //display:none;
width:20%;
height:auto;
float:left;
margin-right:20pt;
margin-bottom:0px;
//outline:1px solid red;
//position:absolute;
}
img:nth-of-type(1){
    margin-top:35pt;
}
img:nth-of-type(2){
    margin-top:72pt;
}
img:nth-of-type(3){
    margin-top:50pt;
width:10%;
}
